ul.horizontalMenu {
    background: none;
    width:100%;
    justify-content: space-evenly !important;

    & li.subMenu {

        &:global(.ant-menu-submenu-active), &:global(.ant-menu-submenu-selected){

        }
    }
}