li.menuItem {
    border-bottom: 1px solid transparent !important;
    min-width: 120px !important;
    text-align: center !important;

    &:global(.ant-menu-item-selected), &:global(.ant-menu-item-active) {

    }

    & > .content {

        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > svg, & > span {

        }
    }



    &.dense {
        height: 30px;
        line-height: 30px;
        margin: 5px 0 !important;
    }

}