.appTimeline {

    & :global(.ant-timeline-item-label) {
        width: 115px !important;
        text-align: left !important;
    }
    & :global(.ant-timeline-item-tail) {
        left: 120px !important
    }
    & :global(.ant-timeline-item-head), & :global(.ant-timeline-item-head) {
        left: 120px !important
    }
    & :global(.ant-timeline-item-content) {
        width: calc(100% - 125px) !important;
        left: 108px !important;
        min-height: 0 !important;
    }

    & .appTimelineBody {
        position: relative;
        min-height: 50px;
    }

    & .loading {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: .7;
        position: absolute;
        background: #fff;
        z-index: 1;
        text-align: center;
    }

    & .newTimelineRecord {

    }

    & .timelineHeader {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        & :global(div.ant-form-item) {
            margin-bottom: 0px !important;
        }

        & table.filters {
            & > tr {
                & > td:nth-child(2) {
                    padding-left: 20px;

                    & > .fullTextSearch {
                        width: 100% !important;
                    }
                }
            }
        }

        & .options {
            & .perPage {
                width: 80px !important;
            }
        }

    }


    & .appTimelineItem {

        padding-bottom: 10px !important;

        & .label {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        & .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & > .icons {
                margin-right: 20px;

                & .tag {
                    text-align: center !important;
                }
            }
        }

        & .collapse {
            & .collapsePanel {
                & :global(.ant-collapse-header) {
                    padding: 0 !important;

                    & > :global(span[role="img"]) {
                        right: 10px !important;
                        padding: 0 !important;
                    }
                }

                & :global(.ant-collapse-content-box) {
                    margin-bottom: 0 !important;
                    padding-bottom: 0 !important;
                }

                & .detail {

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    & > .detailBody {

                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: start;

                        height: 200px;
                        max-height: 200px;

                        & > iframe {
                            overflow-y: auto;
                            height: 100%;
                            border: 0;
                            flex-grow: 2;
                            border-right: 1px solid #ddd;
                            margin-right: 10px;
                        }

                        & .attribute {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            width: 400px;

                            & > span:first-child {
                                width: 50%;
                            }

                            & > span:nth-child(2) {
                                width: 50%;
                            }
                        }
                    }



                    & > .contentFooter {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                }
            }
        }
    }
}