.appCard {

    margin-bottom: 10px !important;

    & > :global(.ant-card-head) {
        background: var(--primary-background) !important;
    }

    &.small {
        & > :global(.ant-card-body) {
            padding: 8px !important;
        }

    }

    &.appCardError > :global(.ant-card-head) {
        background: var(--error-background-color)
    }

    &.appCardSuccess > :global(.ant-card-head) {
        background: var(--success-background-color)
    }

    &.appCardWarning > :global(.ant-card-head) {
        background: var(--warning-background-color)
    }

    & .appCardTitle {

        width: 100%;

        & > h4 {

            margin-bottom: 0;

            &.error {
                color: var(--error-color)
            }

            &.success {
                color: var(--success-color)
            }

            &.warning {
                color: var(--warning-color)
            }

        }
    }

    & .appCardExtra {

        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        & > span:first-child {
            margin-right: 5px;
        }

        & svg {
            font-size: 24px;
        }
    }
}
