.group {
    & > .groupTitle {

        margin: 10px 0 0 0 !important;

        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        & > div.groupHeading {

            display : flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            & > i {
                display: block;
                font-size: 15px;
                margin-right: 5px;
                transition: transform .3s ease-out;

                &.collapsed {
                    transform: rotate(-90deg);
                    transition: transform .3s ease-out;
                }
            }

            & > h4 {
                margin: 0;
            }
        }

        &.error {
            color: var(--error-color);

            & h4 {
                color: var(--error-color);
            }
        }

    }

    & > div.groupTitleDivider {
        margin: 5px 0;
    }

    & > div.collapsed {
        display: none;
    }
}