.popConfirm {
    width: 380px !important;

    & :global(.ant-popover-message) {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;
    }
}

.button {

}