:global(.ant-layout) {
    height : 100% !important;

    & > :global(.ant-row) {
        height: 100% !important;

        & > :global(.ant-col) {
            height: 100% !important;
        }
    }
}

:global(.ant-divider-horizontal) {
    margin: 10px 0 !important;
}