:root {
    --error-color: rgba(245,34,45,1);
    --error-background-color: rgba(245,34,45,.03);
    --warning-color: #faad14;
    --warning-background-color: rgba(250,173,20,.03);
    --success-color: #52c41a;
    --success-background-color: rgba(82,196,26,.03);
    --link-color: #40a9ff;
    --link-color-hover: #91d5ff;

    --primary-background: #e6f7ff;
}

a {
    color: var(--link-color);

    &:hover {
        color: var(--link-color-hover);
    }
}