.drawerWrapper {
    & > :global(.ant-drawer-content-wrapper) {
        width: 40% !important;

        & :global(.ant-drawer-body) {
            padding: 0 !important;
            height: 100% !important;
        }
    }
}