.anchor {
    background: transparent;

    & .anchorLinkContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.contentColumn {
    height : calc()
}