div.table {

    & > .tableHeader {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & > .actions {

        }

        & > .tableConfig {
            & > .noOfItemsPerPage {

                & div:first-child {
                    width: 70px !important;
                    margin-right: 5px;
                }

            }
        }
    }

    & table {

        & > thead {
            & > tr {
                & > th.column {
                    padding: 3px 5px;
                    background: var(--primary-background--color);

                    & > :global(div.ant-table-column-sorters-with-tooltip) {

                        &:global(.ant-tooltip-open) {
                            background: var(--primary-background--color);
                        }

                        & > :global(div.ant-table-column-sorters) {
                            padding: 0;
                        }
                    }
                }
            }
        }

        & > tbody {
            & > tr {
                & > td {
                    padding: 3px 5px;

                    & > div.columnActions {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        text-align: right;

                        & > a {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}

