div.table {

    & > .tableHeader {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & > .actions {

        }

        & > .tableConfig {
            & > .noOfItemsPerPage {

                & div:first-child {
                    width: 70px !important;
                    margin-right: 5px;
                }

            }
        }
    }

    & table {

        & > thead {
            & > tr {
                & > th.column {
                    padding: 3px 5px;
                    background: var(--primary-background--color);
                }
            }
        }

        & > tbody {
            & > tr {
                & > td {
                    padding: 3px 5px;
                }
            }
        }

    }
}

